body{
  background-color: black;
  font-family:  'Pixelify Sans',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#start-screen {
  display:flex;
  color:white;
  font-size: 3em;
  text-align: center;
}
#start-screen p {
  line-height: 20px;
  margin: 20px;
}

#intro-box, #outro-screen {
  display: none;
  color:white;
  font-size: 3em;
  text-align: center;
  
}
#intro-box img, #outro-screen img {
  height: 95vh;
}


#start-screen button, #end-screen button {
  font-size: 3em;
  font-family:  'Pixelify Sans',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: inset 6px 4px 0px 0px rgb(97, 97, 97);
  box-shadow: 0 12px #999;
}
#start-screen button {
  margin-top: 40px;
  padding: 20px;
}

#start-screen button:hover, #end-screen button:hover {
  background-color:azure;
}
#start-screen button:active, #end-screen button:active {
  background-color: rgb(202, 252, 252);
  box-shadow: 0 6px #b6b6b6;

  transform: translateY(4px);
}


#game-screen {
  display:none;
  font-size: 3em;
  color: aliceblue;
  align-content: baseline;
  justify-content: center;
  align-items: baseline;
  position: relative;
}

#audio-icon{
  margin: 0;
  padding: 0;
  width: 50px;
  
}

#game-box {
  background-color: blueviolet;
  width: 800px; 
  height: 600px;
  text-align: center;
  margin: auto;
  background-image: url("../resources/Background/2layers.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;

  /* para que el personaje se ubique */ 
  position: relative;
  overflow: hidden;
  user-select: none; /* para que los elementos no sean seleccionables*/
  
  
}

#info, #info-graphic {
  display: flex;
  text-align: center;
  align-items: center;
  width: 800px; 
  justify-content: space-between;
  margin: auto;
 
}
#info-graphic img {
  width: 250px;
  padding-top: 15px;
}

#info p{
  margin-bottom: 0
}

#end-screen {
  display:none;
  color: white;
  font-size: 3em;
  text-align: center;
}
#end-screen h3 {
  font-size: 2em;
  margin-bottom: 20px;
}
#end-screen h4 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 20px;
}
#end-screen button {
  font-size: 2em;
  font-family:  'Pixelify Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

